.ai-wrapper {
    display: flex;
}

/* Side Bar CSS */
.sidebar {
    width: 20%;
    height: calc(100vh - 150px);
    border: 1px solid black;
    padding: 10px;
    overflow-y: auto;
}
.sidebar button {
    width: 100%;
    height: calc-size(auto, size + 30px);
    font-size: 1.5rem;
    border: transparent;
    border-bottom: 1px solid #0a1f42;
    background-color: transparent;
    margin-bottom: 10px;
    z-index: 100;
}
.sidebar button:hover {
    cursor: pointer;
    font-size: 1.75rem;
    background-color: #0a1f42;
    color: white;
}
.sidebar > p {
    font-size: 1rem;
    margin-bottom: 20px;
    height: calc-size(auto, size + 10px);
}
.sidebar p:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}


/* Chat screen CSS */
.chat-UI {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: calc(100vh - 150px);          /* full viewport height */
    overflow: hidden;
}

/* Chat UI */
.sous-header {
    text-align: center;
    background-color: #FAFAF8;
    height: 120px;
}
.chat-history {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
    padding: 16px;
    overflow-y: auto;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 16px;
    flex-shrink: 0;         /* won't shrink */
    border-top: 1px solid #eee;
    background-color: white; /* prevents chat bleeding through */
    font-size: 1.2rem;
}

.controls button {
    border: none;
    height: 100%;
}

.user-msg {
    align-self: flex-end;
    background-color: #74e293;
    color: #FAFAF8;
    padding: 10px 16px;
    border-radius: 18px 18px 4px 18px;  /* flat bottom-right corner */
    max-width: 70%;
}

.sous-msg {
    align-self: flex-start;
    background-color: #f0f0f0;
    color: #141413;
    padding: 10px 16px;
    border-radius: 18px 18px 18px 4px;  /* flat bottom-left corner */
    max-width: 70%;
}

.sous-tag {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: #74e293;
    margin-bottom: 4px;
    letter-spacing: 0.05em;
}

.input_query {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    height: 100%;
}

.send-button {
    padding: 8px;
    background-color: #74e293;
    color: #FAFAF8;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
    font-size: 1rem;
}

.send-button:hover {
    background-color: #0d2a58;
}

.mic-button {
    background: none;
    font-size: 2rem;
    cursor: pointer;
    width: 5%;
}