
* {
  box-sizing: border-box;
}
body {
  font-family: Inter, sans-serif;
  background-color: #FAFAF8;
  margin: 0;
}

/* Sign Up */
.SignIn_SignUp-container {
  max-width: 400px;
  padding-top: 24px;
  margin: 0 auto;
}
.SignIn_SignUp-container > h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 2px;
}

.register-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.register-container input {
  width: 100%;
  height: 40px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 3px;
  margin-top: 6px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.register-container button {
  width: 100%;
  height: 40px;
  background-color: #D17557;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 500;
}
.register-container button:hover {
  background-color: #C15B3A;
  cursor: pointer;
}

/* Sign In */

/*Header*/
header {
    position: sticky;
    top: 0;
    z-index: 100;    /* raise header above page content */
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
header .menu {
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header .menu .menu-title {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;   /* take it out of flow */
    left: 50%;
    transform: translateX(-50%);  /* true center */
}

header .menu .menu-title > img {
  width: 50px;
  height: 50px;
}
header .menu .menu-title > h1 {
  font-weight: 400;
}



.avatar-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: 20px;
}

.avatar-wrapper img {
    border-radius: 50%;
    cursor: pointer;
}

.avatar-wrapper button {
  border: transparent;
  width: 100%;
  cursor: pointer;
  background-color: white;
  font-weight: 700;
}


/* hide by default */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding: 8px 0;
    min-width: 180px;
    list-style: none;
    z-index: 101;
}

/* show on hover or focus */
.avatar-wrapper:focus-within .dropdown-menu {
    display: block;
    padding: 20px;
}

header .header-navigation {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content:space-evenly;
}
header .header-navigation > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #141413;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0px 30px;
}
header .header-navigation > button:hover {
  color: #D17557;
  cursor: pointer;
}





